<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.pbomb.xposed.anzmods">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/MainTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">


        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Allows users to bypass root detection on ANZ GoMoney New Zealand and any carrier variant of Semble to take advantage of Wallet features from either application from rooted or non-supported devices." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <provider
            android:name=".preferences.PreferenceProvider"
            android:authorities="nz.pbomb.xposed.anzmods.provider.preferences"
            android:exported="true" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/label_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/label_help"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ContactActivity"
            android:label="@string/label_main_contact"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/label_about"
            android:parentActivityName=".activities.MainActivity" />


        <activity
            android:name=".activities.PrefActivity"
            android:parentActivityName=".activities.MainActivity"/>
    </application>


</manifest>
