<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.pbomb.xposed.superkiwi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Allows users to bypass root detection on the ANZ GoMoney (New Zealand only) to take advantage of features such as GoMoney Wallet." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity
            android:name=".MainActivity"
            android:label="@string/label_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ANZPrefActivity"
            android:label="@string/label_anz"
            android:theme="@style/AnzTheme">
        </activity>

        <activity
            android:name=".SemblePrefActivity"
            android:label="@string/label_semble"
            android:theme="@style/SembleTheme">
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="@string/label_anz_help"
            android:theme="@style/AnzTheme" />

        <activity
            android:name=".ContactActivity"
            android:label="@string/label_main_contact"/>
    </application>

</manifest>
